
<ion-view>

    <ion-nav-bar class="bar-positive light">
      <ion-nav-title>欢迎进入科技投融资平台</ion-nav-title>
    </ion-nav-bar>

    <!-- 科技动态 -->
    <ion-content overflow-scroll="false" scroll="false">

        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="tomIp" placeholder="IP：192.168.0.110">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="port" placeholder="端口号：8080">
            </label>
            
            <button class="button button-full button-positive" ng-click="setIp(tomIp, port)">设置服务器</button>
        </div>
        
        <br>
        
        <div class="row">
            <div align="center" class="col" ui-sref="{{TAB.public.introduction.name}}">
                <div class='button border-clear' ng-bind="TAB.public.introduction.title"></div>
            </div>
        </div>

        <br>
        
        <div class="row">
            <div align="center" class="col" ui-sref="{{TAB.public.news.name}}">
                <div class='button border-clear' ng-bind="TAB.public.news.title"></div>
            </div>
            <div align="center" class="col" ui-sref="{{TAB.public.science.name}}">
                <div class='button border-clear' ng-bind="TAB.public.science.title"></div>
            </div>
        </div>
        
        <br>

        <div class="row">
            <div align="center" class="col" ui-sref="{{TAB.public.notice.name}}">
                <div class='button border-clear' ng-bind="TAB.public.notice.title"></div>
            </div>
            <div align="center" class="col" ui-sref="{{TAB.public.policy.name}}">
                <div class='button border-clear' ng-bind="TAB.public.policy.title"></div>
            </div>
        </div>

    </ion-content>
</ion-view>