<ion-view>
    <ion-nav-bar class="bar-positive light">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-title>表单一</ion-nav-title>
    </ion-nav-bar>

    <form name="validator112233" w5c-form-validate="vm.validateOptions">
        <ion-content class="padding" overflow-scroll="false" has-bouncing="true">
            <div class="list list">
                <div class="item item-divider">
                    <i class="ion-umbrella"></i> 表单验证
                </div>
                <label class="item item-input">
                    <span class="input-label">textarea</span>
                    <textarea ng-trim="false" name="fdsf" ng-model="fdsf" id="" cols="30" rows="10" required></textarea>
                </label>
                <label class="item item-input">
                    <span class="input-label">自动高度</span>
                    <textarea msd-elastic ng-model="text" rows="3"></textarea>
                </label>
                <label class="item item-input">
                    <span class="input-label">字段1（非空）</span>
                    <input type="text" name="field1" ng-model="vo.field1" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">字段2（长度4-8）</span>
                    <input type="text" name="field2" ng-model="vo.field2" ng-minlength="4" ng-maxlength="8" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">字段3（1-10）</span>
                    <input type="number" name="field3" ng-model="vo.field3" required min="1" max="10" required>
                </label>
                <label class="item item-input">
                    <i class="ion-clock"></i> 日期与时间
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">开始日期</span>
                    <input input-datetime type="text" name="endDate" ng-model="vo.startDate" max="vo.endDate" required>
                    <i class="icon fa fa-calendar"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">结束日期</span>
                    <input input-datetime type="text" name="startDate" ng-model="vo.endDate" min="vo.startDate" required>
                    <i class="icon fa fa-calendar"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">开始时间</span>
                    <input input-datetime format="HH:mm" name="startTime" type="text" max="vo.endTime" ng-model="vo.startTime" required>
                    <i class="icon fa fa-calendar"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">结束时间</span>
                    <input input-datetime format="HH:mm" name="endTime" type="text" min="vo.startTime" ng-model="vo.endTime" required>
                    <i class="icon fa fa-calendar"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">开始日期时间</span>
                    <input input-datetime format="yyyy-MM-dd HH:mm" name="startDatetime" type="text" max="vo.endDatetime" ng-model="vo.startDatetime" required>
                    <i class="icon fa fa-calendar"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">结束日期时间</span>
                    <input input-datetime format="yyyy-MM-dd HH:mm" name="endDatetime" type="text" min="vo.startDatetime" ng-model="vo.endDatetime" required>
                    <i class="icon fa fa-calendar"></i>
                </label>
            </div>
            <div class="list form">
                <div class="item item-divider">
                    <i class="ion-ios-list-outline"></i> 选择框
                </div>
                <label class="item item-input item-icon-right">
                    <span class="input-label">选择框</span>
                    <select class="ng-hide" input-select name="selector" ng-model="vo.selector" select-data="vo.selectData" option-text="value" option-value="code" prefix="想学 " suffix=" 语言" circular="true" required></select>
                    <i class="icon ion-ios-arrow-down"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">身份证</span>
                    <input input-sfz type="text" name="sfz" ng-model="vo.sfz" required>
                    <i class="icon fa fa-id-card-o font20"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">地址</span>
                    <ul input-treelist ng-model="vo.address" labels="省,市,区" select-data="vo.addressData" option-text="text" option-value="value" option-child="children"></ul>
                    <i class="icon ion-ios-arrow-down"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">职业</span>
                    <ul input-treelist ng-model="vo.job" filter="true" labels="职业大类,职业小类,职业名称" layout="fixed" select-data="vo.jobData" option-text="text" option-value="value" option-child="children"></ul>
                    <i class="icon ion-ios-arrow-down"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">颜色</span>
                    <input name="color" ng-style="{color:vo.color}" input-color ng-model="vo.color" type="text" required/>
                    <i ng-style="{color:vo.color}" class="icon ion-android-color-palette"></i>
                </label>
                <div class="item item-toggle">
                    性别
                    <label class="toggle input-toggle">
                        <input type="checkbox" name="gender" ng-model="vo.gender" ng-true-value="'M'" ng-false-value="'F'" required>
                        <div class="track">
                            <span>男　女</span>
                            <div class="handle">
                                <i ng-class="{'fa-mars':vo.gender=='M','fa-venus':vo.gender=='F'}" class="fa fa-fw"></i>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="list form">
                <div class="item item-divider">拖拉条（亮度：{{vo.light}}）</div>
                <div class="item range range-balanced">
                    <i class="icon ion-ios-sunny-outline"></i>
                    <input type="range" ng-model="vo.light" name="volume" min="0" max="100" required>
                    <i class="icon ion-ios-sunny" style="color:#31b7e8;"></i>
                </div>
            </div>
            <div class="list form">
                <div class="item item-divider">评分（得分：{{vo.score}}）</div>
                <div class="item">
                    <rating class="energized" name="scope" ng-model="vo.score" max="5"></rating>
                </div>
            </div>
            <div class="list form">
                <div class="item item-divider">多选</div>
                <ion-checkbox name="checkbox" ng-model="filter.red">红色</ion-checkbox>
                <ion-checkbox name="checkbox" ng-model="filter.yellow">黄色</ion-checkbox>
                <ion-checkbox name="checkbox" ng-model="filter.pink">蓝色</ion-checkbox>
            </div>
            <div class="list form">
                <div class="item item-divider">单选</div>
                <ion-radio name="buttonGroup" ng-model="buttonGroup" ng-value="'First'">选项一</ion-radio>
                <ion-radio name="buttonGroup" ng-model="buttonGroup" ng-value="'Second'">选项二</ion-radio>

                <div class="item">
                    <div class="button-bar">
                        <a class="button" ng-class="{'button-calm':buttonGroup=='First'}" ng-click="buttonGroup='First'">选项卡一</a>
                        <a class="button" ng-class="{'button-calm':buttonGroup=='Second'}" ng-click="buttonGroup='Second'">选项卡二</a>
                    </div>
                </div>
            </div>
        </ion-content>

        <div class="padding text-center tom-bottom-button" style="height:55px;">
            <button class="button button-block button-positive" style="margin-top: -5px;height:50px;font-size: 16px;" w5c-form-submit="tomSubmit()">提交</button>
        </div>
    </form>
</ion-view>
