html,body,div,h1,h2,h3,h4,h5,p,i,label,span,a,button,textarea,input{
    font-family: 微软雅黑, Arial, Helvetica, sans-serif;
}
html,body,div,H3,p,span,.input-label{
    font-size: 14px;
}


/** ionic原有样式重写 *****************************************************************/
/** ionic原有样式重写 *****************************************************************/
/** 1、页面ion-content下的第一个div高度100% ******************/
.scroll{ height: 100%; }
/** 1、页面ion-content下的第一个div高度100% ******************/

/** 2、<ion-nav-bar>标题字体颜色大小 *************************/
ion-header-bar span { font-size: 16px; /**color:grey;*/ }
/** 2、<ion-nav-bar>标题字体颜色大小 *************************/

/** 3、ion-content 隐藏右侧滚动条 ****************************/
/** .scroll-bar-v{ width: 0; } */
/** 3、ion-content 隐藏右侧滚动条 ****************************/

/** 4、返回上一页按钮颜色 ************************************/
.back-button i, .back-button > span{ color: white; }
/** 4、返回上一页按钮颜色 ************************************/

/** 5、加载动画的背景 ***************************************/
.loading-container .loading{ background: none; }
/** 5、加载动画的背景 ***************************************/
/** ionic原有样式重写 *****************************************************************/
/** ionic原有样式重写 *****************************************************************/


/** 自定义样式  --end--****************************************************************/
/** 自定义样式  --end--****************************************************************/
/** 1、边框 *************************************/
.border-none{ border: none; }
.border-top-none{ border-top: none; }
.border-bottom-none{ border-bottom: none; }
.border-left-none{ border-left: none; }
.border-right-none{ border-right: none; }
/** 1、边框 *************************************/

/** 2、字体大小 *********************************/
.font-size-12{ font-size: 12px; }
.font-size-14{ font-size: 14px; }
.font-size-16{ font-size: 16px; }
.font-size-18{ font-size: 18px; }
/** 2、字体大小 *********************************/

/** 3、外边距 **********************************/
.margin-top-44{ margin-top: 44px; }
.margin-bottom-44{ margin-bottom: 44px; }
/** 3、外边距 **********************************/

/** 4、背景 ************************************/
.bg-transparent{ background: transparent; }
/** 4、背景 ************************************/

/** 5、隐藏 ************************************/
.display-none{ display: none; }
/** 5、隐藏 ************************************/

/** 6、文本水平居中 ****************************/
.text-center{ text-align: center; }
/** 6、文本水平居中 ****************************/

/** 7、图片、文字垂直居中 **********************/
.imgtxt-align-middle *{ vertical-align:middle; }
/** 7、图片、文字垂直居中 **********************/

/** 8、页面底部提交按钮 ************************/
.tom-bottom-button{
    z-index: 1000;
    position: absolute;
    width: 100%;
    padding-top: 3px;
    bottom: -5px;
    background: white;
}
/** 8、页面底部提交按钮 ************************/


/** 组件样式 --start--**************************************************/
/** 1、栅栏（九宫格） --start--***************************/
.tom-table{
    width:100%;
    text-align:center;
    background:white;
    font-size:13px;
    font-family: '黑体';
    border:none;
    table-layout:fixed; /** fixed：列宽由表格宽度和列宽度设定，automatic：默认。列宽度由单元格内容设定。*/
}
.tom-table td{
    height:80px;
    vertical-align:middle;
    border:1px solid #f0f0f0;
}
.tom-table tr td:active{
    background:#EBEBE9;
}
.tom-table td i{
    font-size:24px;
}
.tom-table img{
    width:32px;
    height:32px;
}
/** 1、栅栏（九宫格） ---end-****************************/

/** 2、手风琴菜单动画 --start--**************************/
.list .item.tom-accordion {
    height:50px;
    line-height:50px;
    padding:0 0 0 30px;
    transition: 0.2s all ease-out;
}
.list .item.tom-accordion.ng-hide {
    height: 0px;
}
.list .item.tom-accordion.ng-hide-add,
.list .item.tom-accordion.ng-hide-remove {
    display: block !important;
}
/** 2.手风琴菜单动画 --end--*****************************/
/** 组件样式 --end--****************************************************/
/** 自定义样式  --end--****************************************************************/
/** 自定义样式  --end--****************************************************************/
