html,body,div,h1,h2,h3,h4,h5,p,i,label,span,a,button,textarea,input{
    font-family: 微软雅黑, Arial, Helvetica, sans-serif;
}
html,body,div,H3,p,span,.input-label{
    font-size: 14px;
}


/** ionic原有样式重写 *****************************************************************/
/** ionic原有样式重写 *****************************************************************/
/** 1、页面ion-content下的第一个div高度100% ******************/
.scroll{ height: 100%; }
/** 1、页面ion-content下的第一个div高度100% ******************/

/** 2、<ion-nav-bar>标题字体颜色大小 *************************/
ion-header-bar span { font-size: 16px; /**color:grey;*/ }
/** 2、<ion-nav-bar>标题字体颜色大小 *************************/

/** 3、ion-content 隐藏右侧滚动条 ****************************/
/** .scroll-bar-v{ width: 0; } */
/** 3、ion-content 隐藏右侧滚动条 ****************************/

/** 4、返回上一页按钮颜色 ************************************/
.back-button i, .back-button > span{ color: white; }
/** 4、返回上一页按钮颜色 ************************************/

/** 5、加载动画的背景 ***************************************/
.loading-container .loading{ background: none; }
/** 5、加载动画的背景 ***************************************/
/** ionic原有样式重写 *****************************************************************/
/** ionic原有样式重写 *****************************************************************/


/** 自定义样式  --end--****************************************************************/
/** 自定义样式  --end--****************************************************************/
/** 1、边框 *************************************/
.border-none{ border: none; }
.border-top-none{ border-top: none; }
.border-bottom-none{ border-bottom: none; }
.border-left-none{ border-left: none; }
.border-right-none{ border-right: none; }
/** 1、边框 *************************************/

/** 2、字体大小 *********************************/
.font-size-12{ font-size: 16px; }
.font-size-14{ font-size: 16px; }
.font-size-16{ font-size: 16px; }
.font-size-18{ font-size: 18px; }
/** 2、字体大小 *********************************/

/** 3、外边距 **********************************/
.margin-top-44{ margin-top: 44px; }
.margin-bottom-44{ margin-bottom: 44px; }
/** 3、外边距 **********************************/

/** 4、背景 ************************************/
.bg-transparent{ background: transparent; }
/** 4、背景 ************************************/

/** 5、隐藏 ************************************/
.display-none{ display: none; }
/** 5、隐藏 ************************************/

/** 6、文本水平居中 ****************************/
.text-center{ text-align: center; }
/** 6、文本水平居中 ****************************/

/** 7、图片、文字垂直居中 **********************/
.imgtxt-align-middle *{ vertical-align:middle; }
/** 7、图片、文字垂直居中 **********************/
/** 自定义样式  --end--****************************************************************/
/** 自定义样式  --end--****************************************************************/