
<ion-view>
    <ion-nav-bar class="bar-positive light">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-title>新闻动态</ion-nav-title>
    </ion-nav-bar>

    <!-- 下载文件 -->
    <ion-content overflow-scroll="false" has-bouncing="true"> 
        <ion-list>
            <ion-item item-click-ripple class="item item-icon-right" ng-click="download('attached/file/linxu.docx')">
                <h2 style="font-size:14px;margin-left:10px;">Linxu.docx</h2>
                <span style="font-size:10px;color:#0f0f0f;margin-left:10px;">上传时间：2018-05-10</span>
                <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
            </ion-item>
            <ion-item item-click-ripple class="item item-icon-right" ng-click="download('attached/file/linxu.docx')">
                <h2 style="font-size:14px;margin-left:10px;">Linxu.docx</h2>
                <span style="font-size:10px;color:#0f0f0f;margin-left:10px;">上传时间：2018-05-10</span>
                <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
            </ion-item>
            <ion-item item-click-ripple class="item item-icon-right" ng-click="download('attached/file/linxu.docx')">
                <h2 style="font-size:14px;margin-left:10px;">Linxu.docx</h2>
                <span style="font-size:10px;color:#0f0f0f;margin-left:10px;">上传时间：2018-05-10</span>
                <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
