
<ion-view>
  <style>
    #acticle_content {
      background: #E6E6E6;
      line-height: 30px;
    }
    .acticle_title {
      font-size: 18px;
      font-weight: bold;
    }
    .acticle_divcontent img{
      width:10%;
    }
    #mainContent img{
      background:#dddddd;
    }
    .acticle_bottom_font{
      font-size:10px;color:#0f0f0f;
    }
  </style>

    <ion-nav-bar class="bar-positive light">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-title>详情</ion-nav-title>
    </ion-nav-bar>

  <!-- 文章内容 -->
  <ion-content id="acticle_content" class="padding" overflow-scroll="false" has-bouncing="true">

        <!-- 标题 -->
        <p class="acticle_title padding text-center" ng-bind="acticle.title"></p>
        <!-- 标题 -->

        <hr ng-if="acticle">

        <!-- 主内容区 -->
            <!-- 摘要 -->
            <!-- <div ng-bind-html="'摘要：'+acticle.description| trustHtml" style="margin-bottom:10px;font-size:10px;"></div> -->
            <!-- 摘要 -->
            
            <!-- 图片 -->
            <!-- <div ng-if="acticle.image!=null && acticle.image!=''" class="card"><img ng-src="{{PORT + acticle.image}}" width="100%"></div> -->
            <!-- 图片 -->
            
            <!-- 视频播放 -->
            <div class="card text-center" ng-if="acticle.sysAttachmentList!=null" ng-repeat="video in acticle.sysAttachmentList">
              <img ng-if="videoUrl==null" ng-src="img/cms/play.png" width="30%" ng-click="lookVideo(PATH.filePath + video.attName)">
              <iframe ng-if="videoUrl!=null" ng-src="{{videoUrl}}" allowtransparency="true" allowfullscreen="true" allowfullscreenInteractive="true" scrolling="no" border="0" frameborder="0" style="width:100%;height:200px;background-color:#dddddd;"></iframe> 
            </div>
            <!-- 视频播放 -->
            
            <!-- 内容 -->
            <div id="mainContent" class="acticle_divcontent" ng-bind-html="content | trustHtml" style="text-indent:28px;"></div>
            <!-- 内容 -->
        <!-- 主内容区 -->
        
        <hr ng-if="acticle">
        
        <div style="margin-bottom:40px;" ng-if="acticle">
          <span ng-bind-html="'发布者：'+acticle.user.name" class="acticle_bottom_font"></span><br>
          <span ng-bind-html="'点击数：'+acticle.hits" class="acticle_bottom_font"></span><br>
          <span ng-bind-html="'发布时间：'+acticle.createDate" class="acticle_bottom_font"></span><br>
          <span ng-bind-html="'更新时间：'+acticle.updateDate" class="acticle_bottom_font"></span><br>
        </div>
        
  </ion-content>
</ion-view>